.wp-block-gbt-banner
{
	margin-bottom: 2.5rem;
	
	.shortcode_banner_simple_height {
		
		cursor:pointer;

		.banner-title
		{
		    line-height: 55px;

		    @media all and (max-width: 480px) {
		    	line-height: 1;
		    	font-size: 24px !important;
		    }
		}

		.banner-subtitle
		{
		    @media all and (max-width: 480px) {
		    	font-size: 14px !important;
		    }
		}

		&.full
		{
			width: 100vw;
			margin-left: 50%;
			transform: translateX(-50%);
		}

		&.wide
		{
			@media all and (min-width: 1024px) {
				width: 75vw;
				margin-left: 50%;
				transform: translateX(-50%);
			}
		}
		
	}
}