.archive .category_header.with_featured_img {
  margin-bottom: 74px; }

@media only screen and (max-width: 719px) {
  .category_header.with_featured_img {
    padding: 80px 0; }
  .category_header.with_term_description.with_featured_img {
    padding: 70px 0 5px; }
  .category_header.with_featured_img .term-description,
  .category_header.with_featured_img .page-description {
    padding: 14px 0 34px; } }

.category_header.with_featured_img {
  padding: 182px 0 210px;
  margin-bottom: 44px;
  color: #fff; }

.category_header.with_term_description.with_featured_img {
  padding: 140px 0 134px; }

.archive .category_header.with_featured_img h1,
.category_header.with_featured_img h1 {
  color: #fff;
  max-width: none;
  text-align: center; }

.category_header.with_featured_img .woocommerce-breadcrumb a {
  color: #fff; }

.category_header.with_featured_img .category_header_overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); }

.category_header.with_featured_img .term-description,
.category_header.with_featured_img .page-description {
  padding: 28px 0 34px; }

.category_header.with_featured_img .term-description:before,
.category_header.with_featured_img .term-description:before {
  background: #fff; }

@media screen and (max-width: 1024px) {
  .category_header.with_featured_img,
  .category_header.with_term_description.with_featured_img {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px; } }
