.category_header.with_featured_img {
  padding: 185px 0;
  margin-bottom: 44px;
  text-align: center; }
  @media all and (max-width: 719px) {
    .category_header.with_featured_img {
      padding: 110px 0; } }
  @media all and (min-width: 720px) and (max-width: 959px) {
    .category_header.with_featured_img {
      padding: 150px 0; } }
  .category_header.with_featured_img .page-title,
  .category_header.with_featured_img .term-description,
  .category_header.with_featured_img .page-description {
    color: #fff; }
  .category_header.with_featured_img .category_header_overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); }
