.wp-block-gbt-slider
{
	margin-bottom: 2.5rem;
	position: relative;

	&.alignfull
	{
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	&.alignwide
	{
		width: 75vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.swiper-container.full_height
	{
	    height: 100vh !important;
	}

	.shortcode_getbowtied_slider .swiper-slide .slider-content-wrapper
	{
		width: 90%;
		margin: auto;
	}

	&.alignwide
	{
		@media all and (min-width: 1024px) {
			.shortcode_getbowtied_slider .swiper-slide .slider-content-wrapper
			{
	    		width: 50%;
	    		margin: auto;
			}
		}
	}

	&.alignfull
	{
		@media all and (min-width: 1024px) {
			.shortcode_getbowtied_slider .swiper-slide .slider-content-wrapper
			{
	    		width: 50%;
	    		margin: auto;
			}
		}
	}

	.shortcode_getbowtied_slider
	{
		.swiper-slide
		{
			background-size: cover !important;
		}
	}
}

.fullslidelink {
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}