.products_slider {
	position:relative;
	opacity: 0;
	-webkit-animation: 1s ease 1.2s forwards fadeInFromNone;
	   -moz-animation: 1s ease 1.2s forwards fadeInFromNone;
	     -o-animation: 1s ease 1.2s forwards fadeInFromNone;
	        animation: 1s ease 1.2s forwards fadeInFromNone;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.products_slider .slider-wrapper .owl-carousel .owl-wrapper-outer
{
    padding-top: 0;
}

.products_slider_item  {	
	list-style:none !important;
	display:block;
}

.products_slider .gbtr_items_slider_wrapper {
	max-width:100%;
}

.products_slider .gbtr_items_slider {
	height: 0px;
	padding:0;
	max-width:100%;
}

/*style_1*/

.style_1 .products_slider_content {
	position:relative;
}

.style_1 .products_slider_images {
	background:#b39964;
}

.style_1 .products_slider_images img {
	width:100%;
	height:auto;
}

.style_1 .products_slider_infos {
	position:absolute;
	bottom:50px;
	left:50px;
	padding:0 50px 0 0;
	display:none;
}

.style_1 .products_slider_category a {
	text-transform:uppercase;
	font-weight:900;
	color:#fff;
	font-size:13px;
}

.style_1 .products_slider_title a {
	color:#fff;
	font-size:30px;
	line-height:1.2em;
	padding:5px 0 10px 0;
	display:block;
}

.style_1 .products_slider_price {
	color:#fff;
	font-size:30px;
	line-height:1.2em;
	font-weight:900;
}

.style_1 .products_slider_price .from,
.style_1 .products_slider_price del
 {
	color:#fff;
	font-size:16px;
	font-weight:normal;
	opacity:.7;
}

.style_1 .products_slider_price ins {
	 text-decoration:none;
}

.style_1 .products_slider_item .dark_button {
	margin-top:20px;
}

.style_1 .products_slider_item .dark_button:hover {
	background-color: #000;
	border:1px solid #000;
}