.featured_products_slider {
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  opacity: 0;
  -webkit-animation: 1s ease 1.2s forwards fadeInFromNone;
  animation: 1s ease 1.2s forwards fadeInFromNone;
  margin-bottom: 2.5rem; }
  .featured_products_slider .products_slider_item {
    list-style: none !important;
    display: block; }
    .featured_products_slider .products_slider_item .dark_button {
      margin-top: 20px; }
      .featured_products_slider .products_slider_item .dark_button:hover {
        background-color: #000;
        border: 1px solid #000; }
  .featured_products_slider .products_slider_content {
    position: relative; }
  .featured_products_slider .products_slider_images {
    background: #b39964; }
    .featured_products_slider .products_slider_images img {
      width: 100%;
      height: auto; }
  .featured_products_slider .products_slider_infos {
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 0 50px 0 0;
    display: none; }
  .featured_products_slider .products_slider_category a {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-size: 13px; }
  .featured_products_slider .products_slider_title a {
    color: #fff;
    font-size: 30px;
    line-height: 1.2em;
    padding: 5px 0 10px 0;
    display: block; }
  .featured_products_slider .products_slider_price {
    color: #fff;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 900; }
  .featured_products_slider .products_slider_price .from,
  .featured_products_slider .products_slider_price del {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    opacity: .7; }
  .featured_products_slider .products_slider_price ins {
    text-decoration: none; }
  .featured_products_slider .products_slider_button_wrapper a {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px; }
    .featured_products_slider .products_slider_button_wrapper a:hover {
      background-color: transparent; }
  .featured_products_slider .products_slider_button_wrapper:hover {
    border: 0;
    background-color: transparent; }
  .featured_products_slider:hover .slider-button-prev {
    -webkit-transform: translateX(90px);
    -ms-transform: translateX(90px);
    transform: translateX(90px); }
  .featured_products_slider:hover .slider-button-next {
    -webkit-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    transform: translateX(-90px); }
  .featured_products_slider .slider-button-prev,
  .featured_products_slider .slider-button-next {
    display: block;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    height: 20px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 1; }
    @media all and (max-width: 719px) {
      .featured_products_slider .slider-button-prev,
      .featured_products_slider .slider-button-next {
        display: none; } }
    .featured_products_slider .slider-button-prev:before,
    .featured_products_slider .slider-button-next:before {
      display: block;
      width: 18px;
      height: 18px; }
  .featured_products_slider .slider-button-prev {
    left: -75px; }
  .featured_products_slider .slider-button-next {
    right: -75px; }
  .featured_products_slider .swiper-button-disabled {
    display: none; }

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
