.wc-products-slider {
  margin-bottom: 2.5rem; }
  .wc-products-slider .gbtr_items_sliders_header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top: 1px solid #ccc; }
    .wc-products-slider .gbtr_items_sliders_header .gbtr_items_sliders_title {
      width: 80%;
      float: left;
      color: inherit; }
    .wc-products-slider .gbtr_items_sliders_header .gbtr_items_sliders_nav {
      width: 20%;
      float: left; }
  .wc-products-slider .gbtr_featured_section_title {
    padding-top: 27px;
    font-size: 12px;
    text-transform: uppercase; }
  .wc-products-slider .swiper-wrapper {
    padding: 30px 0 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .wc-products-slider .swiper-slide {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
    .wc-products-slider .swiper-slide .product_item {
      padding: 0;
      margin: 0;
      width: auto;
      display: block;
      float: none;
      margin-bottom: 0px; }
      .wc-products-slider .swiper-slide .product_item .product_item_inner {
        padding: 0; }
      .wc-products-slider .swiper-slide .product_item span.onsale {
        right: 13px; }
      .wc-products-slider .swiper-slide .product_item .out_of_stock_badge_loop {
        right: 53px; }
      .wc-products-slider .swiper-slide .product_item a.add_to_cart_button.added::before {
        top: 0 !important;
        right: 35px !important; }
      .wc-products-slider .swiper-slide .product_item a.button.loading {
        opacity: .25; }
      .wc-products-slider .swiper-slide .product_item .image_container {
        width: auto; }
    .wc-products-slider .swiper-slide .product_item_inner {
      padding: 0; }
