.editor-block-list__block[data-type="getbowtied/tr-slide"] {
  display: none; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="1"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="1"] {
  background-color: #555d66; }
  .gbt_18_tr_editor_slider_wrapper[data-tab-active="1"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="1"] svg {
    fill: #fff; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="1"] .editor-block-list__block[data-type="getbowtied/tr-slide"][data-tab="1"] {
  display: block; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="2"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="2"] {
  background-color: #555d66; }
  .gbt_18_tr_editor_slider_wrapper[data-tab-active="2"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="2"] svg {
    fill: #fff; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="2"] .editor-block-list__block[data-type="getbowtied/tr-slide"][data-tab="2"] {
  display: block; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="3"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="3"] {
  background-color: #555d66; }
  .gbt_18_tr_editor_slider_wrapper[data-tab-active="3"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="3"] svg {
    fill: #fff; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="3"] .editor-block-list__block[data-type="getbowtied/tr-slide"][data-tab="3"] {
  display: block; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="4"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="4"] {
  background-color: #555d66; }
  .gbt_18_tr_editor_slider_wrapper[data-tab-active="4"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="4"] svg {
    fill: #fff; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="4"] .editor-block-list__block[data-type="getbowtied/tr-slide"][data-tab="4"] {
  display: block; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="5"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="5"] {
  background-color: #555d66; }
  .gbt_18_tr_editor_slider_wrapper[data-tab-active="5"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="5"] svg {
    fill: #fff; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="5"] .editor-block-list__block[data-type="getbowtied/tr-slide"][data-tab="5"] {
  display: block; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="6"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="6"] {
  background-color: #555d66; }
  .gbt_18_tr_editor_slider_wrapper[data-tab-active="6"] .gbt_18_tr_editor_slider_tabs .slide-tab[data-tab="6"] svg {
    fill: #fff; }

.gbt_18_tr_editor_slider_wrapper[data-tab-active="6"] .editor-block-list__block[data-type="getbowtied/tr-slide"][data-tab="6"] {
  display: block; }
