.gbt_18_tr_social_media_profiles {
	margin-bottom: 2.5rem;

	ul {
		padding-left: 0 !important;

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		li {
			list-style: none !important;
			display: inline;
    		margin-right: 15px;

    		&:last-child {
    			margin-right: 0;
    		}
		}
	}
}