// Product Share
.gbtr_product_share
{  
    margin: 0 10px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 30px 0;
    line-height: 1em;

    ul
    {
        text-align: center;
        
        li
        {
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            text-align: left;
            max-width: 25%;
            position: relative;
            margin: 0 20px;

            @media screen and (max-width: 719px) {
                display: inline;
                margin: 0 10px;
            }

            svg
            {
                display: inline-block;
                border: 2px solid #000;
                border-radius: 50%;
                padding: 8px;
                margin-right: 15px;

                @media screen and (max-width: 719px) {
                    margin-right: 0;
                }
            }

            > a > span
            {
                display: inline-block;
                max-width: 60%;
                position: relative;
                top: 10px;
                vertical-align: top;
                word-break: break-word;

                @media screen and (max-width: 719px) {
                    display: none;
                }
            }

            > a > span > span
            {
                display: block;
            }

            a
            {
                padding: 8px 0px 10px 8px;
                display: inline;
                zoom: 1;
                color: #b39964;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: normal;
                text-decoration: none;
                line-height: 1.3em;

                @media screen and (max-width: 719px) {
                    padding: 0;
                }

                &:hover
                {
                   color: #000 !important; 
                }
            }
        }
    }
}

.product_page_has_sidebar .gbtr_product_share
{
    ul
    {
        li
        {
            svg
            {
                margin-right: 5px;

                @media screen and (max-width: 719px) {
                    margin-right: 0;
                }
            }
        }
    }
}

// Post Share
.box-share-container
{
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 25px;
    float: right;
    text-align: right;
    position: relative;
    z-index: 99;

    .trigger-share-list
    {
        display: inline-block;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;

        svg
            {
                transition: all .3s;
                top: 4px;
            }

        &:hover
        {
            svg
            {
                fill: #000;
            }
        }
    }

    svg
    {
        fill: #fff;
        position: relative;
        top: 2px;
        margin-right: 5px;
    }

    .box-share-list
    {
        position: absolute;
        top: 8px;
        left: 50%;
        width: 0px;
        height: 0px;
        overflow: hidden;
        text-align: left;
        transform: translate(-50%,-50%);
        transition: all 0.3s;
    }

    &.open
    {
        .box-share-list
        {
            width: 185px;
        }

        .box-share-link
        {
            left: 0
        }

        a:nth-child(1)
        {
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
        }

        a:nth-child(2)
        {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
        }

        a:nth-child(3)
        {
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }

        a:nth-child(4)
        {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
    }

    .box-share-list-inner
    {
        padding: 24px 13px 28px 22px;
        width: 185px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box; 
    }

    .box-share-link
    {
        display: block;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 13px;
        position: relative;
        left: 200%;
        transition: left 0.3s;
    
        &:hover
        {
            svg
            {
                opacity: .55;
            }

            span
            {
                opacity: .55;
            }
        }

        &:last-child
        {
            margin-bottom: 0;
        }

        span
        {
            padding-bottom: 4px;
        }
    }
}