.shortcode_getbowtied_slider {
  height: 100vh;
  margin: 0 -15px 2.5rem;
  width: calc(100% + 30px) !important;
  min-width: 100%; }
  .shortcode_getbowtied_slider .swiper-slide {
    background-size: cover;
    text-align: center;
    position: relative;
    display: table; }
    .shortcode_getbowtied_slider .swiper-slide .slider-content {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .shortcode_getbowtied_slider .swiper-slide h2 {
      font-size: 60px;
      margin-top: 0;
      margin-left: 10%;
      margin-right: 10%;
      padding: 0; }
      @media only screen and (max-width: 958px) {
        .shortcode_getbowtied_slider .swiper-slide h2 {
          font-size: 30px !important;
          line-height: 1.2 !important;
          margin-left: 0;
          margin-right: 0; } }
    .shortcode_getbowtied_slider .swiper-slide h2 + p {
      margin-top: 45px; }
    .shortcode_getbowtied_slider .swiper-slide p {
      font-size: 21px;
      font-weight: normal;
      margin-top: 0;
      margin-left: 10%;
      margin-right: 10%;
      padding: 0; }
      @media only screen and (max-width: 958px) {
        .shortcode_getbowtied_slider .swiper-slide p {
          font-size: 18px !important; } }
    .shortcode_getbowtied_slider .swiper-slide p + .button {
      margin-top: 45px; }
    .shortcode_getbowtied_slider .swiper-slide .button {
      display: inline-block !important; }
    .shortcode_getbowtied_slider .swiper-slide.left-align .slider-content-wrapper {
      float: left; }
    .shortcode_getbowtied_slider .swiper-slide.right-align .slider-content-wrapper {
      float: right; }
    .shortcode_getbowtied_slider .swiper-slide.center-align .slider-content-wrapper {
      float: none;
      padding: 0; }
    .shortcode_getbowtied_slider .swiper-slide .slider-content-wrapper {
      width: 50%;
      position: relative;
      margin: 0 auto;
      text-align: center;
      padding: 0 75px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media only screen and (max-width: 958px) {
        .shortcode_getbowtied_slider .swiper-slide .slider-content-wrapper {
          float: none !important;
          width: 100%;
          padding: 0 75px !important; } }
  .shortcode_getbowtied_slider:hover .slider-button-prev {
    -webkit-transform: translateX(90px);
    -ms-transform: translateX(90px);
    transform: translateX(90px); }
  .shortcode_getbowtied_slider:hover .slider-button-next {
    -webkit-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    transform: translateX(-90px); }
  .shortcode_getbowtied_slider .slider-button-prev,
  .shortcode_getbowtied_slider .slider-button-next {
    display: block;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    height: 20px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 1; }
    @media all and (max-width: 719px) {
      .shortcode_getbowtied_slider .slider-button-prev,
      .shortcode_getbowtied_slider .slider-button-next {
        display: none; } }
    .shortcode_getbowtied_slider .slider-button-prev:before,
    .shortcode_getbowtied_slider .slider-button-next:before {
      display: block;
      width: 18px;
      height: 18px; }
  .shortcode_getbowtied_slider .slider-button-prev {
    left: -75px; }
  .shortcode_getbowtied_slider .slider-button-next {
    right: -75px; }
  .shortcode_getbowtied_slider .quickview-pagination {
    display: block;
    position: absolute;
    left: 0;
    bottom: 5%;
    z-index: 9999;
    width: 100%;
    text-align: center; }
    .shortcode_getbowtied_slider .quickview-pagination .swiper-pagination-bullet {
      margin: 5px;
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .shortcode_getbowtied_slider .quickview-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #000;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); }
