.categories_layout_4
{
	.woocommerce
	{
		//test
		.shortcode_products
		{
			text-align: center;
			
			&:after
			{
				content: "";
				display: block;
				clear: both;	
			}

			.category_item
			{
				width: 100%; 
				display: inline-table;   				
				position: relative;
				vertical-align: bottom;
				
				@media only screen and (min-width: 64em)
				{
					width: calc(62.5% - 99px);
					margin: 0 2.61111rem 5.55556rem;
				}

				.category_name
				{
					padding: 0 1.66667rem 0.27778rem; 

					@media only screen and (min-width: 64em)
					{
						position: absolute;
						top: 100%; 
						padding: inherit;
					}
				}

				.category_thumbnail_wrapper
				{
					position: relative; 
					overflow: hidden;
					height: 300px; 
					
					@media only screen and (min-width: 64em)
					{
						height: 35.55556rem; 
					}
					
					.category_thumbnail
					{
					    height: 100%;
	    				background-position: center center !important;
	    				background-repeat: no-repeat !important;
	    				background-size: cover !important;
	    				transition: all 0.8s ease-in-out;
	    				position: relative;
					}
				}

				&:nth-child(8n+5),
				&:nth-child(8n+2)
				{
					
					@media only screen and (min-width: 64em)
					{
						width: calc(37.5% - 99px); 
					}

					.category_name
					{
						position: inherit;
						 
						@media only screen and (min-width: 64em)
						{
							display: table-header-group; 
						}
						
					}
					
					.category_thumbnail_wrapper
					{
						
						@media only screen and (min-width: 64em)
						{
							height: 22rem;
						}
					}			
							
				}

				&:nth-child(3n+3)
				{
					
					margin: 0 auto;
					width: 100%; 
					float: none;
					
					@media only screen and (min-width: 64em)
					{
						width: calc(62.5% - 99px);
						margin-bottom: 5.55556rem; 
						margin-top: 155px; 
					}

					.category_name
					{
						position: inherit;
					}
					
					.category_thumbnail_wrapper
					{
						@media only screen and (min-width: 64em)
						{
							height: 28.33333rem;
							margin: 0 auto;
							width: 100%; 
						}
					}	
					
				}

				&:hover
				{
					.category_thumbnail
					{
						filter: saturate(2);	
					}
						
				}
			}

			.category_name 
			{
				font-size: 1.16667rem;
				font-weight: bold;
				padding: 0;
				text-align: left;
				max-width: 100%;
				z-index: 5;
				transition:  all .3s ease-in-out;
				margin-top: 1.66667rem; 
				margin-bottom: 1.11111rem; 
				
				@media only screen and (min-width: 64em)
				{
					max-width: 21.66667rem;
				}

				a 
				{
					text-align: center;
					display: inline-block;
					font-size: 1rem;
					line-height: 1.2;
					margin-bottom: 1.11111rem;

					@media only screen and (min-width: 64em)
					{
						font-size: 1.16667rem;
						min-width: auto;
					}
				}

				span.count 
				{
					float: right;
					font-size: 0.66667rem;
					margin-left: 0.27778rem;
					font-weight: normal;
				}
			} 	
		}
		
	}
}